<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
</head>
<body>
<div class="layui-btn-container">
    <button type="button" class="layui-btn add">增加</button>
    <button type="button" class="layui-btn layui-btn-warm del">删除</button>
    <button type="button" class="layui-btn layui-btn-danger fabu">发布</button>
    <button type="button" class="layui-btn layui-btn-danger cancel">取消发布</button>
</div>
<table class="layui-hide" id="text_title" lay-filter="text_title"></table>

</body>
<script type="text/html" id="bar">
    <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="view">查看</button>
    <button class="layui-btn layui-btn-sm" lay-event="edit">编辑</button>
</script>
<script>
    let tableIns;
    layui.use(['element', 'form', 'table', 'layer', 'laydate', 'tree', 'util'], function () {
        let table = layui.table;
        let form = layui.form;//select、单选、复选等依赖form
        let element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        let laydate = layui.laydate;
        let height = 400;

        //用户列表
        tableIns = table.render({
            elem: '#text_title'
            , url: ctx + '/text/title/content'
            , method: 'POST'
            //请求前参数处理
            , request: {
                pageName: 'page' //页码的参数名称，默认：page
                , limitName: 'rows' //每页数据量的参数名，默认：limit
            }
            , response: {
                statusName: 'flag' //规定数据状态的字段名称，默认：code
                , statusCode: true //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'records' //规定数据总数的字段名称，默认：count
                , dataName: 'rows' //规定数据列表的字段名称，默认：data
            }
            //响应后数据处理
            , parseData: function (res) { //res 即为原始返回的数据
                var data = res.data;
                console.log(data)
                return {
                    "flag": res.flag, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "records": data.records, //解析数据长度
                    "rows": data.rows //解析数据列表
                };
            }
            , cols: [
                        [
                            { type:'checkbox'},
                            {align:'center', title: '编号', type:'numbers',width:'50'}
                            ,{field: 'id', title: 'ID',hide:true}
                            , {field: 'title', title: '题目',width:"1200"}
                            , {field: 'publish', title: '是否发布',width:"100"}
                            , {field: '', title: '操作',toolbar:"#bar",width:"150"}
                        ]
                    ]
            , page: true
            , height: height
        });

        table.on('tool(text_title)', function(obj) {
            var d = obj.data;
            if(obj.event === 'edit') {
                layer.open({
                    title:"编辑答案详情",
                    type: 2,
                    area:["1000px","700px"],
                    content: ctx+'/text/title/edit?id='+d.id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']

                });
            }
            if(obj.event === 'view'){
                layer.open({
                    title:"查看答案详情",
                    type: 2,
                    area:["1000px","700px"],
                    content: ctx+'/text/title/view?id='+d.id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                });
            }
        });


        $(".add").click(function(){
            layer.open({
                title:"答案详情",
                type: 2,
                area:["1000px","700px"],
                content: ctx+'/text/title/answerIndex', //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                end:function(){
                    location.reload();
                }
            });
        });

        $(".del").click(function(){
            layer.confirm("您确定要删除所有选中行吗？",{icon:3,title:'询问'},function(index){
                layer.close(index);
                let checkSttus = table.checkStatus("text_title")
                if(checkSttus.data.length != 0){
                    var arr = [];
                    for(let i=0;i<checkSttus.data.length;i++){
                        arr.push(checkSttus.data[i].id);
                    }
                    $.get(ctx+"/text/title/del?ids="+arr,function(data){
                        if(data.flag){
                            layer.msg('删除成功！');
                            table.reload('text_title', {})
                        }

                    });
                }else{
                    layer.msg('请选择要删除的数据！');
                }
            })
        });

        $(".fabu").click(function(){
            layer.confirm("您确定要发布所有选中行吗？",{icon:3,title:'询问'},function(index){
                layer.close(index);
                let checkSttus = table.checkStatus("text_title")
                if(checkSttus.data.length != 0){
                    var arr = [];
                    for(let i=0;i<checkSttus.data.length;i++){
                        arr.push(checkSttus.data[i].id);
                    }
                    $.get(ctx+"/text/title/fabu?type=0&ids="+arr,function(data){
                        if(data.flag){
                            layer.msg('发布成功！');
                            table.reload('text_title', {})
                        }

                    });
                }else{
                    layer.msg('请选择要发布的数据！');
                }
            })
        });

        $(".cancel").click(function(){
            layer.confirm("您确定要取消发布所有选中行吗？",{icon:3,title:'询问'},function(index){
                layer.close(index);
                let checkSttus = table.checkStatus("text_title")
                if(checkSttus.data.length != 0){
                    var arr = [];
                    for(let i=0;i<checkSttus.data.length;i++){
                        arr.push(checkSttus.data[i].id);
                    }
                    $.get(ctx+"/text/title/fabu?type=1&ids="+arr,function(data){
                        if(data.flag){
                            layer.msg('取消发布成功！');
                            table.reload('text_title', {})
                        }

                    });
                }else{
                    layer.msg('请选择要取消发布的数据！');
                }
            })
        });
    });



</script>
</html>